<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="DemoExcelReading">
    <classes>
      <class name="excelProgramsPractice.ExcelSheetReadingDemo"/>
    </classes>
  </test> <!-- DemoExcelReading -->
</suite> <!-- Suite -->
